<h1>User Information</h1>

<div>
  <%= form_for @user do |f| %>
  <%= f.label 'Name' %>
  <%= f.name %><br>
  <%= f.label 'email' %>
  <%= f.text_field :email %><br>
  <%= f.label 'password' %> 
  <%= f.text_field :password %><br>
  <%= f.submit 'Go!' %>
  <% end %>
</div>