
<div>
  <img  style='width: 400px' src="<%=@user.image%>">
  <div style="width:400x; height:auto">
    <%= image_tag(@user.photo, style:"with:100%") if @user.photo.attached? %>
  </div>
</div>
<h1 align="center"> <%=  @user.name %></h1>
<hr>
<p>
  <h3>Upcoming Rsvps</h3>
    <% @coming.all.each do |e| %>
      <li><%= link_to e.name, event_path(e)%><br></li>
    <%end%>
    
  <h3>Past Rsvps</h3>
    <% @past.all.each do |e| %>
      <li><%= link_to e.name, event_path(e)%><br></li>
    <%end%>
</p>

