<%= render 'show' %>
<hr>
  <div>
    <%= link_to "My events", user_events_path(current_user) %> <br>
    <%= link_to "All events", events_path(current_user) %> <br>
    <%= link_to "Create a new Event", new_user_event_path(current_user) %> <br>

  </div>
<hr>
  <div class='links'>
    <%= link_to "Edit your info", edit_user_path(current_user) %><br>
    <%= link_to "Log out", logout_path, method: "delete" %><br>
  </div>
