<h1><%= @event.name %></h1>
<div>
  <p>
    City: <%= @event.city%><br>
    Country: <%= @event.country %><br>
    Date: <%= @event.start_day%><br>
    Time: <%= @event.start_time%><br>
    Info: <%= @event.content%>
  </p>
</div><br>
<hr>
<div>
  <%= form_for @rsvp do |f| %>
      <%= f.hidden_field :event_id, value: @event.id %>
      <%= f.label "Rsvp:"%><br>
      <%#= f.check_box_tag :rsvp %><br>
      <%= f.collection_select :user_id, User.all, :id, :name, include_blank: "Choose Your Username" %><br><br>
      <%= f.submit %>
  <% end %>
</div>
<hr>
<div>
  <h3>Comments:</h3>
  <% @comments.each do |comment| %>
      <%#= binding.pry %>
      <%= comment.user.name %>:
      <%= comment.content %><br>
  <% end %>
</div>
<hr>
<div>
  <%= form_for @comment do |f| %>
      <%= f.hidden_field :event_id, value: @event.id %>
      <%= f.label "Leave a comment:"%><br>
      <%= f.text_area :content %><br>
      <%= f.collection_select :user_id, User.all, :id, :name, include_blank: "Choose Your Username" %><br><br>
          <%#= f.fields_for :user, @comment.build_user do |u| %>
            <%#= u.label "New Username:"%>
            <%#= u.text_field :username %>
          <%# end %>
      <%= f.submit %>
  <% end %>
</div><br>
<hr>

<hr>
<div>
  <%= link_to 'RSVP', rsvp_create_path %> |
  <%= link_to "All Events", events_path %> |
  <%= link_to "Delete", delete_event_path, method: "delete" %><br>
</div> 