<!DOCTYPE html>
<html>
  <head>
    <title><%= @title ? @title : "Meet Up Mock" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%##= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class = "wrapper">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
        <%end %>
        
      <%= yield %>

    <div>
      <hr>
    <footer class="branding">
      <p><small>&copy; 2020 & Beyond <strong> Meet Up</strong></small></p>
    </footer>
  </body>
</html>
